<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Twitter card -->
    {% if site.author.twitter and page.description %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.author.twitter }}">
    <meta name="twitter:url" content="{{site.production_url}}{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    {% endif %}

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/style-pygments.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ ASSET_PATH }}/js/html5shiv.js"></script>
      <script src="{{ ASSET_PATH }}/js/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="{{ ASSET_PATH }}/icons/apple-touch-icon-iphone-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ ASSET_PATH }}/icons/apple-touch-icon-ipad-144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ ASSET_PATH }}/icons/apple-touch-icon-iphone-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ ASSET_PATH }}/icons/apple-touch-icon-ipad-144.png">

    <!-- Google Custom Search Engine -->
    <script>
      (function() {
        var cx = '006533804926900537719:WMX-1691822714';
        var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
      })();
    </script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}"><i class="icon-home"></i> {{ site.title }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Follow <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if site.author.github %}<li><a href="https://github.com/{{ site.author.github }}" title="Follow me on GitHub"><i class="icon-github-alt"></i> GitHub</a></li>{% endif %}
                {% if site.author.twitter %}<li><a href="https://twitter.com/{{ site.author.twitter }}" title="Follow me on Twitter"><i class="icon-twitter"></i> Twitter</a></li>{% endif %}
                {% if site.author.linkedin %}<li><a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" title="View my profile on LinkedIn"><i class="icon-linkedin"></i> LinkedIn</a></li>{% endif %}
                <li><a href="{% if site.author.feedburner %}http://feeds.feedburner.com/{{ site.author.feedburner }}{% else %}{{ BASE_PATH }}atom.xml{% endif %}" title="Subscribe to Posts"><i class="icon-rss"></i> Posts Feed</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="q">
            </div>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="page-header">
      <div class="container">
        <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
      </div>
    </div>

    <div class="container">

      {{ content }}

      <hr>

      <footer>
        <p>&copy; {{ site.author.name }} 2013
          with help from <a href="http://jekyllbootstrap.com/" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>,
          <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>,
          <a href="http://bootswatch.com/" target="_blank">Bootswatch</a> and
          <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a>.
        </p>
      </footer>

    </div> <!-- /container -->

    <gcse:searchresults-only></gcse:searchresults-only>

    {% include JB/analytics %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ ASSET_PATH }}/jquery/js/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
